.section-1-navbar-collapse {
  color: #7f7f7f;
}

.section-1-navbar-collapse .section-1-nav-item {
  text-align: center !important;
}

@media (max-width: 576px) {
  .container-fluid {
    width: 100% !important;
  }
  .container-fluid .section-1-line {
    display: none;
  }
  .container-fluid .section-1-language {
    display: none !important;
  }
  .section-1-nav-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 50px !important;
    font-size: 23px !important;
  }
  .section-1-nav-item .section-1-navbar-collapse {
    padding: 0px 8px !important;
  }
  .section-1-language-respon {
    display: block !important;
    margin-left: auto !important;
  }
}

.section-1 {
  position: fixed;
  width: 100%;
  z-index: 10000;
  background: white;
}

.section-2 {
  background-image: url(./bizi-backgrou.png);
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-position: center;
  background-size: cover;
  position: relative;
  top: 67px;
  margin-bottom: 85px;
}

.section-3-p {
  width: 88%;
}

@media (max-width: 576px) {
  .section-2-container {
    width: 100% !important;
  }
  .section-2-img {
    display: none !important;
  }
  .section-3-row {
    width: 100% !important;
  }
  .section-3-words {
    width: 100% !important;
  }
  .section-3-write {
    height: 34% !important;
  }
  .section-3-write .section-3-p {
    width: 100% !important;
  }
  .section-3-cards {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .section-3-container {
    display: block !important;
    width: 68% !important;
    margin-top: 70px;
  }
  .section-3-container .section-3-iconlar {
    text-align: center;
  }
  .section-3-card-this {
    width: 98% !important;
    margin-bottom: 30px !important;
  }
  .section-3-ABC {
    width: 100% !important;
  }
  .zoom {
    height: 290px !important;
  }
}

.zoom {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.zoom:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
}

.section-3-button-size {
  padding: 4px 24px;
  display: inline;
  border-radius: 40px;
  color: white;
}

.section-3-button-1 .active {
  background: -webkit-gradient(linear, left top, right top, from(#8926d9), color-stop(110%, #431667)) !important;
  background: linear-gradient(to right, #8926d9 0%, #431667 110%) !important;
}

.section-3-button-2 .active {
  background: -webkit-gradient(linear, left top, right top, from(#8926d9), color-stop(110%, #431667)) !important;
  background: linear-gradient(to right, #8926d9 0%, #431667 110%) !important;
}

.section-3-button-3 .active {
  background: -webkit-gradient(linear, left top, right top, from(#8926d9), color-stop(110%, #431667)) !important;
  background: linear-gradient(to right, #8926d9 0%, #431667 110%) !important;
}

.section-2-bottom-card {
  width: 391px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 8px;
}

@media (max-width: 485px) {
  .section-2-bottom-card {
    width: 100% !important;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=front-end-final-lahiye-hablar.css.map */